@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --font-nunito: "Nunito", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-nunito);
  color: #1f2937;
}

.font-poppins {
  font-family: var(--font-poppins);
}

* {
  transition-property: color, background-color, border-color, opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
